<style>
  iframe {
  height: 250px;
  width: 400px;
}
  .qrcode-hide {
    display: none;
  }
  .qrcode-show {
    position: fixed;
    left: calc(50% - 100px);
    top: calc(50% - 200px);
  }
  .backboard {
    background-color: #E2647D;
    width: 300px;
    height: 250px;
    border-radius: 0 0 10px 10px;
    padding-left: 48px;
    padding-top: 21px;
  }
  .bar {
    background-color: #2b81bf;
    border-radius: 10px 10px 0 0;
    height: 30px;
    padding-right: 20px;
    padding-bottom: 5px;
  }
  #cross {
    font-size: 24px;
    color: black;
    text-align: right;
    cursor: pointer;
  }
  .fa-ban:hover {
    color: #ff0000;
  }
  .fa-ban {
    color: #68B3C8;
  }
</style>

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
  <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>Dashboard</title>

  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


<style>
  .qrcode {
    display: none;
  }
</style>
</head>

<body>

<div class="wrapper">
  <div class="sidebar" data-active-color="danger">
      <div class="sidebar-wrapper">
            <div class="logo">

            </div>
            <ul class="nav">
                <li>
                    <a href="dashboard.html">
                      <i class="ti-panel"></i>
                      <p>User Profile</p >
                    </a >
                </li>
                <li class="active">
                    <a href="slides">
                      <i class="ti-user"></i>
                      <p>My Slides</p >
                    </a >
                </li>
            </ul>
      </div>
    </div>

    <div class="main-panel">
    <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#">My Slides</a >
                </div>
                <div class="collapse navbar-collapse">
                </div>
            </div>
        </nav>
      <%= link_to new_slide_path do %>
        <div class="product">
          <div class='product-upvote'>
            <div class="product-arrow"></div>
          </div>
          <%= image_tag "add.jpg", height: 200, width: 350, crop: :fill;%>
            <div class='product-body'>
              <h3>+ Add A new Slide !</h3>
            </div>
          </div>
      <% end %>
      <% @slides.each_with_index do |slide, i| %>
        <div class="qrcode-hide" id="qrcode">
          <div class="bar"><div id="cross">X</div></div>
          <div class="backboard"><%= raw @qrs[i] %></div>
        </div>
        <%= link_to  slide_path(slide) do %>
        <div class="product">
          <div class='product-upvote'>
            <div class="product-arrow"></div>
          </div>
          <%= slide.iframe.html_safe %>
          <div class='product-body'>
            <h3><%= slide.name %></h3>
            <p><%= slide.description %></p >
            <ul class="icons">
              <li><%= link_to edit_slide_path(slide) do %>
                <i class="fa fa-edit fa-lg"></i>
              <% end %></li>
              <li><%= link_to slide_path(slide), method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="fa fa-trash fa-lg"></i>
              <% end %></li>
              <li><i class="fa fa-ban fa-lg" id="show-qr"></i></li>
            </ul>
          </div>
        </div>
        <% end %>
      <% end %>


        </div>

      </div>
    </div>

</body>
<script>
  const qrs = document.querySelectorAll('#show-qr');
  const qrcodes = document.querySelectorAll('#qrcode');
  for ( let i = 0; i < qrs.length; i++ ) {
    qrs[i].addEventListener('click', function(event) {
      qrcodes[i].classList.remove('qrcode-hide');
      qrcodes[i].classList.add('qrcode-show');
    })
  }
  const cross = document.querySelectorAll('#cross');
  for ( let i = 0; i < cross.length; i++ ){
    cross[i].addEventListener("click", function(event) {
      qrcodes[i].classList.remove('qrcode-show');
      qrcodes[i].classList.add('qrcode-hide');
    })
  }
</script>
