<body>

<div class="wrapper">
  <div class="sidebar" data-active-color="danger">
      <div class="sidebar-wrapper">
            <div class="logo">

            </div>
            <ul class="nav">
                <li>
                    <a href="dashboard.html">
                      <i class="ti-panel"></i>
                      <p>User Profile</p >
                    </a >
                </li>
                <li class="active">
                    <a href="slides">
                      <i class="ti-user"></i>
                      <p>My Slides</p >
                    </a >
                </li>
            </ul>
      </div>
    </div>

    <div class="main-panel">
    <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#">My Slides</a >
                </div>
                <div class="collapse navbar-collapse">
                </div>
            </div>
        </nav>
      <%= link_to new_slide_path do %>
        <div class="product">
          <div class='product-upvote'>
            <div class="product-arrow"></div>
          </div>
          <%= image_tag "add.jpg", height: 200, width: 350, crop: :fill;%>
            <div class='product-body'>
              <h3>+ Add A new Slide !</h3>
            </div>
          </div>
      <% end %>
      <% @slides.each do |slide| %>
        <%= link_to  slide_path(slide) do %>
        <div class="product">
          <div class='product-upvote'>
            <div class="product-arrow"></div>
          </div>
          <%= slide.iframe.html_safe %>
          <div class='product-body'>
            <h3><%= slide.name %></h3>
            <p><%= slide.description %></p >
            <ul class="icons">
              <li><%= link_to edit_slide_path(slide) do %>
                <i class="fa fa-edit"></i>
              <% end %></li>
              <li><%= link_to slide_path(slide), method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="fa fa-trash"></i>
              <% end %></li>
            </ul>
          </div>
        </div>
        <% end %>
      <% end %>
<!--           <ul class="list-inline product-controls product-controls-hidden hidden-sm hidden-xs">
            <li><a href=""><i class="fa fa-heart"></i></a ></li>
            <li><a href=""><i class="fa fa-share"></i></a ></li>
            <li><a href=""><i class="fa fa-star"></i></a ></li>
          </ul> -->


        </div>

      </div>
    </div>

</body>

