<style>
  p {
    font-size: 12px;
    line-height: 2;
  }

.cool-description {
    padding-left: 200px;
    max-width: 79%;
}
.cool-text {
  font-size: 20px;
  color:black;
  font-weight: bold;
  line-height: 1.5;
}

  .mini-text-container {
    border-left: 1px solid orange;
    padding: 14px;
    margin: 8px auto;
    color: gray;
    font-weight: lighter;
    min-width: 262px !important;
  }

.qrcode {
  margin-top: 66px;
}


.big-container {
    padding: 101px;
    background-color: white;
    margin: 60px;
    box-shadow:20px 20px 50px rgba(10,10,10,0.5);
}
.cool-footer {
  display: flex;
  margin-top: 10vh;
  margin-left: 2px;
}
.foot-text {
  font-size: 10px;
  font-weight: bolder;
  border-bottom: 1px solid black;
}

@media (min-width: 1024px) {
  .fake-error {
    display: none;
  }
}
@media (max-width: 1024px) {
  .big-container {
    display: none;
  }
  .fake-error {
    height: 20vh;
    width: 90vw;
    margin: 0 auto;
    background-color: white;
    box-shadow:20px 20px 50px rgba(10,10,10,0.5);
    padding: 20px;
  }
  .fake-error p {
    font-size: 20px;
  }
}
.code {
  margin: 0 auto;
}
.qrcode-hide {
    display: none;
  }
  .qrcode-show {
    position: absolute;
    z-index: 500;
    top: calc(50% - 325px);
    left: calc(50% - 350px);
  }
  .backboard {
    background-color: #E994A5;
    width: 700px;
    height: 650px;
    border-radius: 0 0 10px 10px;
    padding: 15px 45px;
  }
  .bar {
    background-color: #5bb1cf;
    border-radius: 10px 10px 0 0;
    height: 50px;
    padding-right: 20px;
    padding-bottom: 5px;
  }
  #cross {
    font-size: 24px;
    color: black;
    text-align: right;
    cursor: pointer;
  }
  .fa-ban:hover {
    color: #ff0000;
  }
  .fa-ban {
    color: #68B3C8;
  }
  .show-message {
    display: none;
  }
  .blur {
    -webkit-filter: filter: blur(5px);
    filter: blur(5px);
  }
</style>

            <div class="qrcode-hide" id="qrcode">
              <div class="bar"><div id="cross">X</div></div>
              <div class="backboard"><%= raw @svg %></div>
            </div>
          <div class="big-container" id="big-container">
            <div class="row">

              <div class="col-md-6 col-xs-12">
                <div class="slide-frame">
                  <%= @slide.iframe.html_safe %>
                </div>
                <div class="comments" style="font-size: 36px">
                </div>
              </div>

              <div class="col-md-5 col-xs-12">
                <div class="cool-description">
                  <div class="cool-text">
                    <h1><%= @slide.name %></h1>

                    <div class="mini-text-container">
                      <p><%= @slide.description %></p>
                    </div>
                  </div>
                  <div class="qrcode">
                    <button class="btn btn-warning btn-lg" id="show-qr">show QR code</button>
                  </div>
                </div>

              </div>
              <div class="col-md-1">
                <a href="https://www.facebook.com" style="color: black"><p class="foot-text" style="margin-left: 100px; margin-top: 100px;  border-bottom: 0px; transform: rotate(90deg); transform-origin: left top 0;"> Facebook </p></a>

                <a href="http://www.twiter.com" style="color: black"><p class="foot-text" style="margin-left: 100px; margin-top: 100px; border-bottom: 0px; transform: rotate(90deg); transform-origin: left top 0;"> Twitter </p></a>
                <a href="http://www.instagram.com" style="color: black"><p class="foot-text" style="margin-left: 100px; margin-top: 100px; border-bottom: 0px; transform: rotate(90deg); transform-origin: left top 0;"> Instagram </p></a>

              </div>
            </div> <!-- row -->

            <div class="cool-footer">

              <%= link_to @slide.previous do%>
                <p class="foot-text"> Prev </p>
              <% end %>
              <%= link_to @slide.next do %>
                <p class="foot-text" style="margin-left: 30px;"> Next </p>
              <% end %>
              <%= link_to slides_path do %>
                <p class="foot-text" style="margin-left: 30px">&nbsp All &nbsp</p>
              <% end %>
              <p class="foot-text" style="margin-left: 430px;"> 01 </p>
              <p class="foot-text" style="margin-left: 30px;"> 02 </p>
              <p class="foot-text" style="margin-left: 30px;"> 03 </p>
              <p class="foot-text" style="margin-left: 30px;"> 04 </p>
              <p class="foot-text" style="margin-left: 30px;"> 05 </p>
            </div>

          </div> <!-- big-container -->
  <div class="fake-error">
    <p>The slide is not compatile with your device due to its size, please view on a laptop or desktop.</p>
  </div>












<% content_for :after_js do %>
  <script>
    const qr = document.getElementById("show-qr");
    const qrcode = document.getElementById('qrcode');
    const page = document.getElementById('big-container');
    qr.addEventListener('click', function(event) {
      qrcode.classList.remove('qrcode-hide');
      qrcode.classList.add('qrcode-show');
      page.classList.add('blur');
    })
    const cross = document.getElementById("cross");
    cross.addEventListener("click", function(event) {
      qrcode.classList.remove('qrcode-show');
      qrcode.classList.add('qrcode-hide');
      page.classList.remove('blur');
    })
    document.querySelector('iframe').height = 440
    document.querySelector('iframe').width = 730
    document.querySelector('.comments').style.height = (document.querySelector('iframe').offsetHeight - 30) + "px"
    document.querySelector('.comments').style.width = document.querySelector('iframe').offsetWidth + "px"
    let height = document.querySelector('.comments').offsetHeight
    let width = document.querySelector('.comments').offsetWidth
    // let width = document.querySelector('.comments').offsetHeight
    let num = new Array();
    let temp = 0;

    for(var i = 0; i < height / 20 - 1; i++){
      num.splice(i,0,i);
    }
    App['slide_<%= @slide.id %>'] = App.cable.subscriptions.create(
      { channel: 'SlidesChannel', slide_id: <%= @slide.id %> },
      { received: (data) => {

        const commentContainer = document.querySelector('.comments');
        temp = Math.round(Math.random()*(num.length-1));
        let node = document.createElement("div");
        node.className = "comment-relative";
        node.innerHTML = data.comment;
        // commentContainer.insertAdjacentHTML('afterbegin', data.comment_partial);
        node.style.marginTop = num[temp]*20 + "px";
        node.style.position = "absolute";
        node.style.color = data.color;
        commentContainer.appendChild(node);
      }
    })

    window.onload = function(){

      timer=setInterval(move,100);
    }
    let iframe = document.querySelector('iframe');
    document.addEventListener("webkitfullscreenchange", (event) => {
      document.querySelector('.comments').style.height = (document.querySelector('iframe').offsetHeight - 30) + "px";
      document.querySelector('.comments').style.width = document.querySelector('iframe').offsetWidth + "px";
      let height = document.querySelector('.comments').offsetHeight;
      let width = document.querySelector('.comments').offsetWidth;
      for(var i = 0; i < height / 20 - 1; i++){
        num.splice(i,0,i);
      }
    });
    function move(){
      let nodeList = document.querySelectorAll('.comment-relative');
      let parentNode = document.querySelector('.comments')
      if( nodeList.length > 0 ){
        for (let i = 0; i < nodeList.length; i++){
          distance = nodeList[i].offsetLeft + 7;
          nodeList[i].style.marginLeft = distance + "px";
          if (distance > 950)
            parentNode.removeChild(nodeList[i]);
        }
      }

    }
    function random(m,n){//随机在m、n之间的整数
      return Math.round(Math.random()*(n - m)) + m;
    }

  </script>
<% end %>
