<style type="text/css">
  .hand-station {
  animation: MoveUpDown 0.5s ease-in-out infinite;
  position: absolute;
  left: calc(50% - 50px);
  bottom: 100px;
  width: 100px;
}
  .button-station {
    position: absolute;
    left: calc(50% - 100px);
    bottom: 0;
    width: 200px;
  }
  .rocket-shoot {
    animation: ShootUp 3s linear 1;
    position: absolute;
    left: calc(50% - 50px);
    bottom: 0;
    width: 100px;
  }

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 100px;
  }
  50% {
    bottom: 150px;
  }
}

@keyframes ShootUp {
  0% {
    bottom: 0;
  }
  10% {
    bottom: 50px;
    transform: scale(1.2)
  }
  20% {
    bottom: 500px;
    transform: scale(2)
  }
  100% {
    bottom: 3000px;
    transform: scale(5)
  }
}

@keyframes
</style>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<%= simple_form_for [ slide, comment ], remote: true do |f| %>
  <div class="login-container">
    <h1>Post your comments!</h1>
      <div class="form-inputs">
        <%= f.input :content, label: false, placeholder: "leave your comment", required: true, error: 'Please enter your comment', autofocus: true %>
        <%= f.input :color, label: false, placeholder: "choose a color", collection: ['- select color -', 'red', 'blue', 'green', 'yellow', 'pink', 'red', 'white', 'black'], selected: "- select color - ", class: "form-control" %>
      </div>
      <div class="create-rocket">
        <%= image_tag "thumb-down.png", class: 'hand-station' %>
        <%= image_submit_tag("red-button.png", id: 'submit-btn', class: 'button-station', alt: 'Submit') %>
      </div>
  </div> <!-- login-container -->

<% end %>



<% if comment.errors.any? %>
  <div class="errors-container">
    <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

