<div id="create-message">
  <%= simple_form_for [ @slide, Comment.new ], remote: true do |f| %>
    <%= f.input :content, label: false  %>
    <%= f.input :color, :collection => %w[red blue green yellow pink red white black] %>
  <% end %>
</div>
<div class="comments-show">
  <% @comments.each do |comment| %>
    <%= comment.content %>
   <br>
  <% end %>
</div>

<% content_for :after_js do %>
  <script>
    App['slide_<%= @slide.id %>'] = App.cable.subscriptions.create(
      { channel: 'SlidesChannel', slide_id: <%= @slide.id %> },
      { received: (data) => {

        const commentContainer = document.querySelector('.comments-show');
        let node = document.createElement("div");
        node.innerHTML = data.comment_partial;
        // commentContainer.insertAdjacentHTML('afterbegin', data.comment_partial);
        // node.style.position = "absolute";
        commentContainer.appendChild(node);
      }
    })
  </script>
<% end %>
