<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <h1 style="margin: 0; padding: 0; font-size: 32px; color: white">Danmu</h1>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Links when logged in -->


      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= image_tag "logo.png", class: "avatar dropdown-toggle", style: "width: 58px; height: 58px", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to root_path do %>
                <i class="fa fa-home"></i> <%= "Home" %>
              <% end %>
            </li>
            <li>
              <%= link_to slides_path do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to "Sign up", new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link"%>
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link"%>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg ">
    <div class="dropdown">
      <%= image_tag "logo.png", class: "avatar dropdown-toggle", style: "width: 38px; height: 38px",  id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
      <% if user_signed_in? %>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
         <li><%= link_to "Home", root_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
         <li><%= link_to "Profile", slides_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
         <li><%= link_to destroy_user_session_path, method: :delete,  class: "navbar-wagon-item navbar-wagon-link" do %>
                <%= t(".sign_out", default: "Log out") %>
              <% end %>
         </li>
        </ul>
      <% else %>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
          <li><%= link_to "Sign up", new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
        </ul>
      <% end %>
    </div>
  </div>
</div>
