<meta name="viewport" content="width=device-width, initial-scale=1">
<style type="text/css">
  body {
    min-height: 100vh;
  }
  .bd {
    height: 100vh;
    width: 100vw;
  }
  .bd-one {
    background-color: white;
  }
  .bd-two {
    background-color: #eee;
  }
  .bd-three {
    background-color: white;
  }
  .landing {
    padding-top: 20vh;
    height: 100vh;
  }
  .main-container {
    background-color: transparent;
    position: relative;
  }
  .main-container-jk {
    background-color: transparent;
    max-width: 100%;
  }
  .text-content-bd-two p {
    font-size: 16px;
  }
  .text-container-banner {
    line-height: 2;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .text-content-banner {
    font-size: 16px;
    font-weight: 100;
    color: white;
  }
  .text-container {
    line-height: 2;
  }
  .text-content-bd-one {
    font-size: 16px;
    font-weight: 100;
    color: black;
  }
  .text-content-bd-two {
    font-size: 16px;
    font-weight: 100;
    color: black;
  }
    .buttons {
    position: relative;
    top: 20px;
  }
  .sign-up-button {
    border-radius: 5px !important;
    margin-right: 10px;
    color: #444;
    font-weight: 600;
    background-color: #F9F9F9;
    font-size: 18px;
  }
  .sign-up-button:hover {
    border-radius: 5px !important;
    color: #111;
    background-color: white;
  }
  .upload-btn {
    border-radius: 5px !important;
    background-color: #E994A5;
    border: none;
    color: #eee;
    font-size: 18px;
    font-weight: lighter;
  }
  .upload-btn:hover {
    background-color: #EFA9B6;
    color: white;
  }
  .pattern {
    width:100vw;
    height: 26vh;
    position: absolute;
    top: 75vh;
  }
  .pattern-grey {
    width: 100vw;
    height: 26vh;
    position: absolute;
    top: 174vh;
  }
  .pattern-white {
    width: 100vw;
    height: 26vh;
    position: absolute;
    top: 274vh;
  }
  .frame {
    background-color: #eee;
    box-shadow: 0 10px 100px 0 rgba(10,10,10,0.5);
    border-radius: 10px;
  }
  @media screen and (max-width: 567px) {
      .sign-up-button {
        display: none;
      }
      .text-content-banner {
        font-size: 14px;
        color: white;
      }
      .bd {
        padding-top: 10vh;
      }
  }
  @media (min-width: 1281px) {
    .landing {
      padding-top: 23vh;
    }
    .bd {
      padding-top: 20vh;
    }
    .main-container {
      max-width: 600px;
      left: 5%;
      top: 5%;
    }
    .frame {
      width: 660px;
      height: 440px;
    }
  }
  @media (min-width: 1025px) and (max-width: 1280px) {
    .landing {
      padding-top: 20vh !important;
    }
    .bd {
      padding-top: 15vh;
    }
    .main-container {
      max-width: 500px;
            left: 7%;
      top: 7%;
    }
    .frame {
      width: 560px;
      height: 373px;
    }
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    .bd {
      padding-top: 15vh;
    }
    .landing {
      padding-top: 20vh;
    }
    .main-container {
      max-width: 400px;
            left: 7%;
      top: 7%;
    }
    .frame {
      width: 460px;
      height: 307px;
    }
  }
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .bd {
      padding-top: 15vh;
    }
    .landing {
      padding-top: 15vh;
    }
    .main-container {
      max-width: 400px;
            left: 7%;
      top: 7%;
    }
    .frame {
      width: 460px;
      height: 307px;
    }
  }
  @media (min-width: 481px) and (max-width: 767px) {
    .bd {
      padding-top: 15vh;
    }
    .landing {
      padding-top: 15vh;
    }
    .main-container {
      max-width: 350px;
            left: 7%;
      top: 7%;
    }
    .frame {
      width: 400px;
      height: 267px;
    }
  }
  @media (min-width: 320px) and (max-width: 480px) {
    .bd {
      padding-top: 15vh;
    }
    .landing {
      padding-top: 15vh;
    }
    .main-container {
      max-width: 280px;
      left: 7%;
      top: 7%;
    }
    .frame {
      width: 320px;
      height: 213px;
    }
  }
  @media screen and (min-width: 1024px) {
    .text-title-bd-one {
      font-size: 32px;
      font-weight: bold;
      color: black;
      font-family: Georgia, serif;
    }
    .text-content-bd-one p {
      font-size: 24px;
    }
    .text-content-bd-two p {
      font-size: 24px;
    }
    .text-title-banner {
      font-size: 50px;
      font-weight: bold;
      color: white;
      font-family: Georgia, serif;
    }
    .text-container-banner {
      margin-top: 15vh;
    }
    .text-title-bd-two {
      font-size: 32px;
      font-weight: bold;
      color: black;
      font-family: Georgia, serif;
    }
  }
  @media screen and (max-width: 1024px) {
    .text-title-bd-one {
      font-size: 26px;
      font-weight: bold;
      color: black;
      font-family: Georgia, serif;
    }
    .text-content-bd-one p {
      font-size: 13px;
    }
    .main-container-jk {
      max-height: 200px;
    }
    .text-content-bd-two p {
      font-size: 13px;
    }
    .text-title-bd-two {
      padding-top: 3vh;
      font-size: 20px;
      font-weight: bold;
      color: black;
      font-family: Georgia, serif;
    }
    .text-container-banner {
        margin-top: 5vh;
      }
    .text-title-banner {
        font-size: 18px;
        font-weight: bold;
        color: white;
        font-family: Georgia, serif;
      }
  }
  @media screen and (max-width: 1024px) {

    }
  @media screen and (max-width: 567px) {
    .bd {
      padding-top: 5vh;
    }
  }
</style>
<div class="landing">
  <div class="row">
    <div class="col-md-offset-1 col-md-6 col-sm-offset-3 col-sm-8 col-xs-offset-1 col-xs-5">
      <div class="frame"><%= image_tag("danmu1.gif", {:class => "main-container"}) %></div>
    </div>
    <div class="col-md-5 col-md-offset-0  col-xs-offset-2 col-xs-8">
      <div class="text-container-banner">
        <div class="text-title-banner">
          Danmu On Slides
        </div>
        <div class="text-content-banner">
          Engage your audience with a new media
        </div>
      <div class="buttons">
        <% if user_signed_in? %>
        <% else %>
          <%= link_to new_user_registration_path, method: :get do %>
            <button type="button" class="sign-up-button btn-lg">Sign Up Now</button>
          <% end %>
        <% end %>
        <%= link_to new_slide_path, method: :get do %>
          <button type="button" class="upload-btn btn-lg">Upload Slides</button>
        <% end %>
      </div>
      </div>
    </div>
  </div>
  <%= image_tag("pattern.png", {:class => "pattern"}) %>
</div>
<div class="bd-one bd">
  <div class="row">
  <div class="col-md-offset-1 col-md-5 col-xs-offset-2 col-xs-8">
      <div class="text-container">
        <div class="text-title-bd-one">
          Danmu Makes A New Experience
        </div>
        <div class="text-content-bd-one">
          <p>Our core feature is a real-time commentary subtitle system that displays user comments as streams of moving subtitles overlaid on the video playback screen, visually resembling a danmaku shooter game. These subtitles are called danmu.</p>
        </div>
      </div>
    </div>

    <div class="col-md-5 col-md-offset-0 col-xs-offset-2 col-xs-8">

        <%= image_tag("landing-img-1.jpg", {:class => "main-container-jk"}) %>
    </div>
  </div>
  <%= image_tag("pattern-grey.png", {:class => "pattern-grey"}) %>
</div>
<div class="bd-two bd">
  <div class="row">
    <div class="col-md-offset-1 col-md-5 col-xs-offset-2 col-xs-8">

        <%= image_tag("landing-img-2.jpg", {:class => "main-container-jk"}) %>
    </div>
    <div class="col-md-5 col-md-offset-0 col-xs-offset-2 col-xs-8">
      <div class="text-container">
        <div class="text-title-bd-two">
          Danmu Is A New Trend
        </div>
        <div class="text-content-bd-two">
          <p>Such subtitles are simultaneously broadcast to all viewers in real-time, creating a chat room experience in which users feel like watching and playing together with others. This system offers users various subtitle controls, including style, format, and movement. Users are also fond of creating translated and soramimi subtitles, or special effects with carefully formed subtitles.</p>
        </div>

      </div>
    </div>
  </div>
  <%= image_tag("pattern-white.png", {:class => "pattern-white"}) %>
</div>
<div class="bd-three bd">
  <div class="row">
  <div class="col-md-offset-1 col-md-5 col-xs-offset-2 col-xs-8">
      <div class="text-container">
        <div class="text-title-bd-one">
          Danmu Is Popular
        </div>
        <div class="text-content-bd-one">
          <p>Our site also offers a feature called "advanced subtitles", where users can use ECMAScript-based API to control video playback, dynamically change danmu subtitles and draw shapes onto the screen. This functionality is only available with the video poster's permission.</p>
        </div>
      </div>
    </div>
    <div class="col-md-5 col-md-offset-0 col-xs-offset-2 col-xs-8">

        <%= image_tag("landing-img-3.jpg", {:class => "main-container-jk"}) %>
    </div>
  </div>
</div>
